@use "sass:math";

#blog__item {
  nav {
    padding-block: 1rem 2rem;
    @include lg {
      padding-block: 1rem 4rem;
    }
    .breadcrumb {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin-bottom: 1rem;
      padding: 0;
      &-item {
        text-transform: capitalize;
        color: $zinc-800;
        a {
          color: $blue-600;
        }
      }
    }
    .breadcrumb-item + .breadcrumb-item {
      padding-left: 0.5rem;
    }
    .breadcrumb-item + .breadcrumb-item::before {
      color: $zinc-600;
      content: "/";
      float: left;
      padding-right: 0.5rem;
    }
  }
  p {
    margin-bottom: 1.25rem;
    color: $zinc-600;
  }
  .tag {
    text-transform: capitalize;
    color: $zinc-600;
  }
  h1 {
    padding-block: 1rem math.div(40rem, 16);
    text-align: center;
  }
  h2 {
    margin-block: 2rem 1rem;
    color: $zinc-800;
  }
  h3 {
    margin-block: 1.5rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: $zinc-800;
  }
  figure {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    figcaption {
      text-align: center;
      font-style: italic;
      color: $zinc-600;
    }
  }
  hr {
    border-top: 2px solid $blue-400;
    width: 35%;
    margin-block: 2rem;
  }
  blockquote {
    border-inline-start: 1rem solid $blue-400;
    padding-inline-start: 1.77rem;
    padding-top: 1.33rem;
    padding-bottom: 1.33rem;
    font-style: italic;
  }
}
#blog__intro {
  padding-block: math.div(80rem, 16) math.div(48rem, 16);

  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  @include lg {
    flex-direction: row;
    padding-block: math.div(104rem, 16) math.div(64rem, 16);
  }

  .intro__img {
    img {
      width: 80px;
      aspect-ratio: 1;
      @include lg {
        width: 120px;
      }
    }
  }
  .intro__text {
    text-align: center;
    @include lg {
      text-align: left;
    }
  }
}
.button__navigation {
  border-top: 1px solid $zinc-900;
  margin-bottom: math.div(48rem, 16);
  @include lg {
    margin-bottom: math.div(64rem, 16);
  }
  .next__btn {
    margin-inline-start: auto;
  }
  .next_post_text {
    display: none;
    @include md {
      display: inline;
    }
  }
}


.blog-header-link.before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  padding-right: 4px;
}
.blog-header-link.after {
  display: inline-block;
  padding-left: 4px;
}
h1 .blog-header-link svg,
h2 .blog-header-link svg,
h3 .blog-header-link svg,
h4 .blog-header-link svg,
h5 .blog-header-link svg,
h6 .blog-header-link svg {
  visibility: hidden;
}
h1:hover .blog-header-link svg,
h2:hover .blog-header-link svg,
h3:hover .blog-header-link svg,
h4:hover .blog-header-link svg,
h5:hover .blog-header-link svg,
h6:hover .blog-header-link svg,
h1 .blog-header-link:focus svg,
h2 .blog-header-link:focus svg,
h3 .blog-header-link:focus svg,
h4 .blog-header-link:focus svg,
h5 .blog-header-link:focus svg,
h6 .blog-header-link:focus svg {
  visibility: visible;
}

.routeSkipHeading{
  position:relative;
}
.routeSkipLink{
  display:inline-block;
  margin-left:-.75em;
  opacity:0;
  position:absolute;
  text-decoration:none;
}
.routeSkipLink:before{
  content:"\21FD";
  display:block;
}
.routeSkipLink:focus,.routeSkipLink:hover{
  opacity:1;
}

@media screen and (max-width:671px){
  .routeSkipLink{
    right:0;
  }
}