@use "sass:math";
#intro {
  padding-top: 1.5rem;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  @include lg {
    flex-direction: row;
  }

  .intro__img {
    img {
      width: 80px;
      aspect-ratio: 1;
      @include lg {
        width: 120px;
      }
    }
  }
  .intro__text {
    text-align: center;
    @include lg {
      text-align: left;
    }
  }
}
#navigation {
  padding-top: math.div(16rem, 16);
  @include md {
    padding-top: math.div(32rem, 16);
  }

  ul {
    padding-top: 0.5rem;
    column-gap: math.div(64rem, 16);
    row-gap: math.div(12rem, 16);
    flex-wrap: wrap;
    margin-block: 0.5rem 1rem;
    li {
      text-transform: capitalize;
      a {
        position: relative;
        &[data-state="active"],
        &[aria-current="page"] {
          &:before {
            content: "";
            display: block;
            width: 100%;
            height: 0.25rem;
            position: absolute;
            top: 100%;
            left: 0;
            margin-top: 0.2rem;
            background: $blue-400;
          }
        }
      }
    }
  }
}
