{% if page_meta %} {% set metaContent = page_meta %} {% endif %} {% extends
"layouts/base.html" %} {% block content %}

<section id="blog__item" aria-label="blog section" class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/{{tags_href}}">{{tags}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
    </ol>
  </nav>
  <div class="text-zinc-600 text-center">
    <a href="/{{tags_href}}" class="tag">{{tags}} - </a>
    <time datetime="{{date | dateFilter}}">{{date | dateFilter}}</time>
  </div>
  <h1 class="heading-1 | text-zinc-900 | routeSkipHeading">
    <a href="#navigation" id="skip-main" class="routeSkipLink" aria-label="Skip to global navigation"></a>
    {{title}}</h1>

  {{content |safe}}
</section>
<article id="blog__intro" class="container | mt-3 d-flex">
  <div class="intro__img">
    <img src="/images/mkt.png" alt="Minh Khang Tran's Bild" />
  </div>
  <div class="intro__text">
    <p class="body-sm | text-zinc-800">Willkommen auf meinem Blog.</p>
    <p class="body-sm | text-zinc-800">
      Ich bin Minh Khang Tran und schreibe über meinen Fortschritt in
      Powerlifting, in der koreanischen Sprache und im Web Design
    </p>
  </div>
</article>
<div class="button__navigation | d-flex justify-space-between container">
  <!-- prev button -->
  {%- set nextPost = collections.blog | getNextCollectionItem(page) %} {%- if
  nextPost %}

  <a class="btn | mt-3" href="{{ nextPost.url | url }}">
    <span>←</span>
    <span class="next_post_text">{{ nextPost.data.title }}</span>
  </a>

  {% endif %}

  <!-- next button -->
  {%- set previousPost = collections.blog | getPreviousCollectionItem(page) %}
  {%- if previousPost %}

  <a class="btn next__btn | mt-3" href="{{ previousPost.url | url }}">
    <span class="next_post_text">{{ previousPost.data.title }}</span>
    <span>→</span>
  </a>

  {% endif %}
</div>

{% endblock %}
