---
title: Seite nicht gefunden! | MKT 
permalink: 404.html
heading: Hier gibt es nichts...
desc: "Hier kommen Sie zurück:"
---

<!DOCTYPE html>
<html lang="de-De">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}" />
    <title>{{ title }}</title>
  </head>
  <body class="bg-white">
    <!-- main markdown -->
    <div>
        {% include "partials/top-bar.html" %}
            <article id="intro" class="container | mt-3 d-flex">
              <div class="intro__img">
                <img src="/images/mkt.png" alt="Minh Khang Tran's Bild" />
              </div>
              <div class="intro__text">
                <h1 class="body-sm | text-zinc-800">Willkommen auf meinem Blog.</h1>
                <p class="body-sm | text-zinc-800">
                  Ich bin Minh Khang Tran und schreibe über meinen Fortschritt in
                  Powerlifting, in der koreanischen Sprache und im Web Design
                </p>
              </div>
            </article>
            {% include "partials/navbar.html" %}  
      <main tabindex="-1" id="main-content">
        <section
          id="error"
          aria-label="error"
          class="container"
          style="margin-block: 3rem"
        >
        
          
              <h1 class="heading-1 | text-primary">{{heading}}</h1>
              <p class="body-lg">
                {{desc}} <a href="{{ '/' | url }}">Homepage</a>
              </p>
         
      
        </section>
      </main>
      {% include "partials/footer.html" %}
    </div>
    <!-- Load own JS -->
    <script src="{{ '/js/index.js' | url }}"></script>
  </body>
</html>
