// partial Tailwind colors
:root {
  --clr-bcg: #f4f4f5;
  --clr-font-dark: #18181b;
  --clr-font-light: #27272a;
  --clr-font-lighter: #52525b;
  --clr-primary: #2563eb;
  --clr-primary-light: #60a5fa;
}
.darkmode {
  --clr-bcg: #232325;
  --clr-font-dark: #f4f4f5;
  --clr-font-light: #e4e4e7;
  --clr-font-lighter: #d4d4d8;
  --clr-primary: #3087ff;
  --clr-primary-light: #3087ff;
}
// Gray
$zinc-100: var(--clr-bcg);
$zinc-200: #e4e4e7;
$zinc-500: #71717a;
$zinc-600: var(--clr-font-lighter);
$zinc-800: var(--clr-font-light);
$zinc-900: var(--clr-font-dark);
// Blue
$blue-400: var(--clr-primary-light);
$blue-600: var(--clr-primary);
// Red
$red-100: #fee2e2;
$red-700: #b91c1c;
// Yellow
$yellow-100: #fef9c3;
$yellow-700: #a16207;
// Green
$green-100: #ecfccb;
$green-700: #4d7c0f;

// color palette
$colors: (
  "zinc-100": $zinc-100,
  "zinc-200": $zinc-200,
  "zinc-500": $zinc-500,
  "zinc-600": $zinc-600,
  "zinc-800": $zinc-800,
  "zinc-900": $zinc-900,
  "blue-400": $blue-400,
  "blue-600": $blue-600,
  "red-100": $red-100,
  "red-700": $red-700,
  "yellow-100": $yellow-100,
  "yellow-700": $yellow-700,
  "green-100": $green-100,
  "green-700": $green-700,
);

$transition: all 0.35s ease-in;
